* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

img {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;

    &:hover {
        font-weight: 600;
    }

}

///////////* grid-setting *////////////

.grid__container {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 1300px) 1fr;
    grid-template-rows: auto;
}

.navbar {
    grid-column: 1 / -1;
    /*沒辦法下grid-column:1/-1*/
    grid-row: 1 / span 1;
}

.title__area {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

}

.pictures__area {
    grid-column: 2 / span 1;
    grid-row: 3 / span;

}



////////////* content-styling *///////////
/* navbar */
.navbar {
    height: 60px;
    // margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1px 3px #dddddd;

    // position: fixed;
    // top: 0;
    // left: 0;
}

.navbar__logo {
    width: 180px;
    display: flex;
    align-items: center;

    .fake__logo__img {
        background-color: black;
        width: 30px;
        height: 30px;
        margin: 5px;
    }
}

.navbar__logo__text {
    display: inline;

    b,
    p {
        font-size: 13px;
    }
}

.navbar__search {
    display: flex;
    flex-grow: 1;

    margin: 0 20px;

    input[type="text"] {
        height: 50px;
        display: flex;
        flex-grow: 1;
        border-radius: 100px;
        padding-left: 20px;
    }
}

.navbar__menu {
    max-width: 630px;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        list-style: none;
        margin: 0 20px;
    }
}

.menu__submit {
    border: 1px #666666 solid;
    border-radius: 5px;
    padding: 5px 10px;
}

.menu__join {
    background-color: #65AF72;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;

}


/* title */
.title__area {
    padding-left: 10px;
    margin: 50px 0;

    h1 {
        font-size: 46px;
    }

    h4 {
        font-size: 18px;
    }

    button {
        margin-right: 30px;
        margin-top: 10px;
    }

}



/* pictures */

.pictures__area {
    // max-width: 1300px;
    // width: 30%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*4px-blank-here*/
.pictures__content {
    width: 30%;
    font-size: 0px;
    padding: 10px;
    margin-bottom: 50px;

    .pictures__img {
        overflow: hidden;
        height: 280px;
        object-fit: cover;
    }

    img {
        transition: all ease 0.5s;
        filter: grayscale(100%);
        opacity: 0.8;
        // width: 200%;


        &:hover {
            opacity: 1;
            filter: grayscale(0%);
            transform: scale(1.2);
        }
    }
}

.pictures__description {
    padding: 10px 0;
    font-size: 12px;
}

.pictures__hashtag {
    display: flex;

    p {
        padding: 5px 10px;
        background-color: #eeeeee;
        color: #888888;

        margin-right: 10px;

        &:hover {
            font-weight: 600;
        }
    }


}